.header {
    display: flex;
    justify-content: space-between; 
    margin-right: 200px;    
    padding-top: 15px;
    padding-left: 17px;
    color: @default-grey;
    &__datetime {
        margin-left: 15px;
    }
    &__options {
        height: 32px;
    }
}
