.whether__header {
  padding: 0px;
  width: 160px;
}
.whether__content {
  display: flex;
  width: 250px;
  justify-content: space-between;
}
.whether__link {
  color: black;
}
.whether__link._actual {
  display: flex;
}
.whether__link:not(.whether__link:nth-child(1)) {
  margin-top: 4px;
}
.app__item-title {
  color: black;
}
