.ya-weather {
    &__tab, &__content {
        display: flex;
        justify-content: space-between;
    }

    &__tab {
        padding: 0;
        width: 180px;
    }

    &__content {
        width: 250px;
    }
}
