.ct-article {
    border-radius: 8px;
    filter: drop-shadow(0 5px 15px @ct-filter-dark);

    background-color: @default-white;
    overflow: hidden;

    z-index: 1;

    &__image {
        display: inline-block;

        .create-icon(120%, 100%, 120% 100%);

        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        box-sizing: border-box;
        object-fit: cover;
        &:before {
            pointer-events: none;
            content: "";
            background: @ct-linear-gradient-colored;
            position: absolute;
            mix-blend-mode: screen;
            opacity: .75;
            width: 120%;
            min-height: 500px;
            height: 100%;
            z-index: 2;
        }
    }
}