.ct-card {

    &.ct-mini-card {
        padding: 3rem 0 3rem 2rem;

        overflow-x: scroll;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: @ct-background-dark;
            border-radius: 10px;
            box-shadow: inset 2px 2px 2px @ct-scroll-primary, inset -2px -2px 2px @ct-scroll-secondary;
        }

        &::-webkit-scrollbar-track {
            background: @ct-background-dark;
        }
    }


    &__ct-primary-card {
        flex: 0 0 250px;

        position: relative;

        display: inline-block;

        border-radius: 12px;

        margin: 65px 15px 20px 0;

        z-index: @ct-z-m;
    }
}