.ct-lining {
    display: flex;
    flex-direction: column;
    margin: 20px;

    &__link {
        text-decoration: none;

        &._tag {
            color: @ct-alarm-orange;
            text-transform: uppercase;
            .font-medium-very-bold();
        }

        &._primary {
            .font-very-big-very-bold();
            color: @default-black;
            &:hover {
                opacity: 0.6;
            }
        }
    }

    &__text {
        .font-big-medium();
        margin-top: 20px;
        color: @default-black;
    }
}