.ct-link {
    &._primary {
        display: inline-block;

        width: 90px;

        .font-medium-very-bold();
        line-height: 60px;
        text-align: center;
        text-decoration: none;
        color: @default-white;

        &:hover {
            background-color: @default-black;
            color: @ct-alarm-orange;
        }
    }
}