body {
    background-color: rgb(220, 226, 220);
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.content {
    width: 78%;
    background-color: rgb(219, 217, 213);
    margin-left: 20%;
}

.clearfix {
    clear: both;
}

.box-shadow {
    border: 2px solid rgb(219, 217, 213);
    box-shadow: inset 0 -3em 3em rgba(196, 187, 187, 0.808),
                0 0  0 2px rgba(196, 187, 187, 0.808),
                0.3em 0.3em 1em rgba(151, 151, 151, 0.3);
}

/*HEADER
======================*/

header {
    height: 100px;
    background-color: grey;
    border-radius: 10%;
    
}

header p {
    color: white;
    font-family: 'Cookie', cursive;
    font-size: 40px;
    padding-left: 15%;
    
}

/*SECTION
======================*/

section p {
    font-family: 'Arvo', serif;
    color: rgb(58, 12, 12);
    font-size: 30px;
    text-align: center;
    padding-top: 2%;
}

/*SIDEBAR
======================*/

.sidebar {
    position: fixed;
    height: 100%;
    width: 15%;
}


.sidebar li {
    list-style: none;
    background-color: grey;
    text-align: center;
    margin: 0 5% 5% 0;
    border-radius: 5%;
    min-height: 8%;
}

.sidebar li a {
    text-decoration: none;
    /* line-height: 100px; */
    color: white;
    font-family: 'Arvo', serif;
    font-size: 15px;
}

.view-element {
    box-shadow: inset 0 -3em 3em rgba(240, 174, 174, 0.808),
                0 0  0 2px rgba(219, 117, 117, 0.808),
                0.3em 0.3em 1em rgba(179, 104, 104, 0.3);
}

.flex-element {
    display: flex;
    margin: 0px;
    justify-content: space-around;
}

/*bottom section 
======================*/

.bottom-section {
    height: 20%;
    background-color: rgb(220, 226, 220);
}

.bottom-section p {
    color: rgba(49, 46, 46, 0.63);
    text-align: center;
    padding-top: 5%;
}

