body {
    margin: 0;
}

.wrapper {
    background-color: rgb(53, 55, 79);
    background-clip: content-box;
    margin: 0 auto;
}

.content {
    position: static;
    display: grid;
    width: 100%;
    min-height: 980px;
    margin-top: -120px;
    grid-template-rows: repeat(9, min-content) 1fr;
    grid-template-columns: 100%;
}

.state {
    position: relative;
    left: 30%;
    color: rgb(224, 214, 194);
    width: 70%;
    height: 700px;
}

.state-yandex {
    background-color: rgb(235, 210, 219);
    grid-area: 1 / 1 / 5 / 2;
    justify-self: start;
    align-self: start;
}

.link__item:hover {
    color: rgb(114, 7, 7);
}

.link {
    position: relative;
    top: 18%;
    background: transparent;
}

.state-mail {
    grid-area: 5 / 1 / 6 / 2;
    background-color: rgb(255, 211, 166);
    justify-self: start;
    align-self: start;
}

.state-css-tricks {
    grid-area: 6 / 1 / 7 / 2;
    background-color: rgb(236, 236, 236);
    justify-self: start;
    align-self: start;
}

.state-office {
    grid-area: 7 / 1 / 8 / 2;
    background-color: rgb(213, 255, 203);
    justify-self: start;
    align-self: start;
}

.link__img-css-tricks, .link__img-office {
    padding-top: 10%;
}

.side-footer-wrapper {
    width: 100%;
    height: 150px;
    position: relative;
    margin: 0;
    padding: 0;
    outline: 0;
    grid-area: 9 / 1 / 10 / 2;
}

.navigation {
    position: fixed;
    top: 50%;
    left: 200px;
}

.navigation__link {
    display: flex;
    flex-direction: column;
    color: white;
}

.link__item {
    color: white;
    text-decoration: none;
    line-height: 1.8;
    font-size: 25px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.side-footer-wrapper__img {
    display: flex;
    position: relative;


    padding-top: 50px;
    width: 100%;
}

.img {
    width: 55px;
    height: 55px;
    background-size: 55px;
}

.img__link-info {
    position: relative;
    top: 0;
    left: 5%;
}

.img__link-chat {
    position: relative;
    top: 0;
    left: 75%;
}

.img__link-message {
    position: relative;
    top: 0;
    left: 85%;
}

.img__tag {
    position: absolute;
    top: 50px;
    left: calc(10% + 70px);
    color: wheat;
    font-size: 20px;
}

.img-site {
    display: block;
    width: 700px;
    height: 450px;
    background-size: 20%;
    margin: auto;
    transition: transform 4s;
}

.img-site:hover {
    transform: scale(1.5);
}

@media screen and (min-width: 768px) and (max-width: 1249px) {
    .state {
        width: 100%;
        left: unset;
    }
    .navigation {
        width: 100%;
        height: 100px;
        background: rgb(151, 155, 189);
        top: 0;
        left: 0;
        z-index: 1;
    }
    .navigation__link {
        flex-direction: row;
        justify-content: space-evenly;
        top: 30px;
    }
    .img__link-info, .img__link-chat, .img__link-message {
        position: unset;
    }
    .img__tag {
        color: rgb(53, 55, 79);
        top: -50px;
        left: unset;
    }
    .side-footer-wrapper__img {
        gap: 40px;
        justify-content: space-evenly;
    }
}


@media screen and (max-width: 980px) {
    body, .navigation__link {
        width: 980px;
    }
}
