.ma-horoscope-link {
    text-decoration: none;

    &__image {
        align-items: center;
        margin: 0 0 0 25px;
        float: left;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: @mail-rice-green;
    }

    &__title {
        display: flex;

        flex-direction: column;

        width: 180px;

        margin: -5px 0 0 15px;
        &._ma-primary {
            display: inline-block;
            line-height: 20px;

            text-decoration: none;
            .font-pre-big-regular();
            color: @default-black;
        }

        &._ma-secondary {
            display: inline-block;

            margin-top: 1px;

            .font-normal-regular();
            color: @mail-custom-grey;

        }
    }
}