// задаем цвета проекта


@primary-blue: #0054b9;
@secondary-cyan: #6da2e1;
@alarm-orange: #ee7b00;
@default-yellow: #fc0;
@hover-red: #c00;
@default-black: #000;
@default-grey: #90919d;
@still-grey: #b8b9c0;
@hover-grey: #e4e4e4;
@custom-grey: #f0f0f0;
@default-white: #fff;