
body {
    background-color: rgb(220, 226, 220);
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.content { 
    float: left;
    width: 78%;
    background-color: rgb(219, 217, 213);
    margin-left: 20%;
}

header, section, .box-contact {
    box-shadow: 10px 10px 10px rgba(150, 137, 137, 0.3);
    border: 2px solid rgb(219, 217, 213);
}

.clearfix {
    clear: both;
}


/*HEADER
======================*/

header {
    height: 100px;
    background-color: grey;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    border-radius: 10%;
    
}

header p {
    color: white;
    font-family: 'Cookie', cursive;
	font-size: 40px;
    padding-left: 15%;
    
}



/*SECTION
======================*/


section .block {
	/* box-sizing: border-box; */
	/* border: 1px solid black; */
	/* margin-bottom: 5px; */
	padding: 1rem;
	text-align: justify;
	font: 14px/1.7 Arial;
}

section .block img {
	width: 80%;
	display: block;
	margin: 0 auto;
	max-width: 354px;
}

section .image {
    /* padding-top: 2%; */
	display: flex;
	flex-wrap: wrap;
	flex-direction: row; 
	justify-content: flex-start;
}

section p {
    font-family: 'Arvo', serif;
    color: rgb(58, 12, 12);
    font-size: 30px;
    text-align: center;
    padding-top: 2%;
}


/*SIDEBAR
======================*/


nav {
    width: 15%;
    position: fixed;
}

.sidebar li {
    list-style: none;
    background-color: grey;
    text-align: center;
    margin-bottom: 20%;
    margin-right: 20%;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(255, 247, 247, 0.808);
}

.sidebar li a {
    text-decoration: none;
    line-height: 100px;
    color: white;
    font-family: 'Arvo', serif;
    font-size: 20px;

}


/*FOOTER
======================*/

.box-contact {
    display: flex;
    justify-content: space-around;
}

.box-contact__logo img {
    background-color: rgb(219, 217, 213);
    width: 100%;
    height: auto;
}

.box-contact__logo {
    width: 15%;
    margin: 5%;
}

