.flex-element__box-task {
    display: flex;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  .flex-element__box-task div {
    margin-left: 2%;
    width: 5%;
    height: 5%;
    background-color: blue;
    z-index: 2;
  }
  
  .flex-element__box-task div:nth-child(2n - 1) {
    position: relative;
    left: 5%;
    bottom: 3%;
    transform: rotate(35deg);
    z-index: 1;
  }

  .flex-element__box-task div:nth-child(3n):after {
    content: "hi";
    color: white;
    display: inline;
  }