body {
    background-color: rgb(220, 226, 220);
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.content {
    width: 78%;
    background-color: rgb(219, 217, 213);
    margin-left: 20%;
}

.clearfix {
    clear: both;
}

.box-shadow {
    border: 2px solid rgb(219, 217, 213);
    box-shadow: inset 0 -3em 3em rgba(196, 187, 187, 0.808),
                0 0  0 2px rgba(196, 187, 187, 0.808),
                0.3em 0.3em 1em rgba(151, 151, 151, 0.3);
}

/*HEADER
======================*/

header {
    height: 100px;
    background-color: grey;
    border-radius: 10%;
    
}

header p {
    color: white;
    font-family: 'Cookie', cursive;
	font-size: 40px;
    padding-left: 15%;
    
}



/*SECTION
======================*/


section .block {
	padding: 1rem;
	text-align: justify;
	font: 14px/1.7 Arial;
}

section .block img {
	width: 80%;
	display: block;
	margin: 0 auto;
	max-width: 354px;
}

section .image {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row; 
	justify-content: flex-start;
}

section p {
    font-family: 'Arvo', serif;
    color: rgb(58, 12, 12);
    font-size: 30px;
    text-align: center;
    padding-top: 2%;
}

#information {
    font-size: 14px;
}

#history-morena, #ul-ol__name-project li {
    font-size: 20px;
}

#history-morena dd, #information {
    text-indent: 5%;
    text-align: justify;
    padding: 5px;
    margin-right: 5px;
}

/*SIDEBAR
======================*/


nav {
    width: 15%;
    position: fixed;
}

.sidebar li {
    list-style: none;
    background-color: grey;
    text-align: center;
    margin: 0 20% 20% 0;
    border-radius: 5%;
}

.sidebar li a {
    text-decoration: none;
    line-height: 100px;
    color: white;
    font-family: 'Arvo', serif;
    font-size: 20px;

}


/*FOOTER
======================*/

.flex-element {
    display: flex;
    justify-content: space-around;
}

.flex-element__contact-logo img {
    width: 100%;
    height: auto;
}

.flex-element__contact-logo {
    width: 15%;
    margin: 5%;
}

/*bottom section 
======================*/

.bottom-section {
    height: 20%;
    background-color: rgb(220, 226, 220);
}

.bottom-section p {
    color: rgba(49, 46, 46, 0.63);
    text-align: center;
    padding-top: 5%;
}