body {
    /* font: 81.25% Arial, Helvetica,'Helvetica Neue',sans-serif; */
}

.header__location-link, .header__datetime, .link__svg {
    color: #90919d;
}

.header__location-link.link {
    text-decoration: none;
}

.header__country { 
    white-space: nowrap;
    font-weight: 700;
}

/* .header {
    display: flex;
    justify-content: space-between; 
    margin-right: 200px;
    padding-top: 8px;
    padding-left: 18px;
    border: 1p solid black;
} */