body {
    font: 81.25% Arial, Helvetica,'Helvetica Neue',sans-serif;
}

.header__location-link, .header__datetime, .link__svg {
    color: #90919d;
}

.header__location-link.link, a {
    text-decoration: none;
}

.link__label { 
    white-space: nowrap;
    font-weight: 800;
}

.header {
    display: flex;
    justify-content: space-between; 
    margin-right: 200px;
    padding-top: 8px;
    padding-left: 18px;
    /* border: 1px solid black; */
}

.content {
    margin-top: 5px;
    /* border: 1px dotted black; */
    width: 100%;
}

.container, .container__app, .container__search {
    display: flex;
    width: 1000px;
    border: 1px dotted rgb(117, 0, 0);
    margin-left: 5%;
}

.app {
    display: flex;
    justify-content: space-around; 
}

.container__left {
    float: left;
    border: 1px dotted rgb(179, 90, 90);
    width: 65%;
}

.news__header {
    display: flex;
    width: 56%;
    justify-content: space-between; 

}

.link {
    text-decoration: none;
}

.header__news-link .link__title._main, .whether__header .link__title-main, .traffic__title  {
    color: #0054b9;
}

.header__news-link .link__title {
    color: #6da2e1;
}

.header__whether-link .link__title {
    color: #0054b9;
    line-height: 1.25;
    font-size: 145%;
    font: 81.25% Arial,Helvetica,'Helvetica Neue',sans-serif;
}

.header__news-link .link__title, .whether__header .link__title-main, .traffic__link._main .traffic__title  {
    font-size: 145%;
    font-weight: 600;
}

.panel .panel__item {
    list-style: none; 
    margin-left: -35px;
    margin-bottom: 8px;
}

.panel__item .link__title {
    color: black;
    font-size: 120%;
    margin-top: 9px;
}

.link__image { 
    width: 14px;
    height: 14px;
    background-size: contain;
}

.whether__header {
    margin: 5px 10px;
}

.whether__content {
    display: flex;
    width: 300px;
    justify-content: space-between; 
}

.whether__icon {
    width: 48px;
    height: 48px;
    background-image: url(img/whether-1.svg);
    background-size: 100% 100%;
}

.whether__ahead {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20px 20px;
}

._morning {
    background-image: url(img/whether-2.svg);
}

._afternoon {
    background-image: url(img/whether-3.svg);
}

._night {
    background-image: url(img/whether-1.svg);
}


.whether__link, .app__item-title {
    color: black;
}

.whether__date {
    color: #90919d;
}

.whether__link._actual, .whether__card {
    display: flex;
}

.whether__temp {
    font-size: 26px;
    line-height: 1.25;
    margin-top: 12px;
}

.whether__link:not(.whether__link:nth-child(1)) {
    margin-top: 10px;
}


.traffic__header {
    margin: 5px 10px;
    width: 80%;
    display: flex;
    justify-content: space-between; 
}

.app {
    height: 60px;
    width: 100%;
    border: 1px solid red;
}

/* .app__item-link {
    display: flex;
} */

.app__item-image {
    width: 44px;
    height: 44px;
    vertical-align: middle;
}

.app__box-image {
    width: 22px;
    height: 22px;
}

.app__item-title {
    margin: 0 0 
}